body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.bg {
  background-image: url('/static/background.png');
  /* Path to your static background image */
  height: 100vh;
  /* Full viewport height */
  width: 100vw;
  /* Full viewport width */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Ensure the image covers the entire area */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center content horizontally */
  justify-content: center;
  /* Center content vertically */
  color: white;
  text-align: center;
  padding: 20px;
}

.chatbot-container {
  position: fixed;
  /* Fix position to bottom right */
  bottom: 20px;
  /* Space above the chatbot */
  right: 20px;
  /* Space from the right edge */
  transition: all 0.2s ease;
  /* Smooth opening animation */
  z-index: 1000;
  /* Ensure it is on top */
  opacity: 0;
  /* Start with opacity 0 for transition */
  transform: translateY(20px);
  /* Start position for transition */
}

.chatbot-container iframe {
  border: none;
  /* Remove default iframe border */
}

.chatbot-button {
  position: fixed;
  /* Fix position to bottom right */
  bottom: 20px;
  /* Space from the bottom */
  right: 20px;
  /* Space from the right */
  background-color: #1976D2;
  /* Button color */
  color: white;
  /* Text color */
  padding: 15px;
  border-radius: 50%;
  /* Circular button */
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  /* Adjust size of the icon */
  z-index: 1000;
  /* Ensure it is on top */
  transition: background-color 0.3s;
  /* Transition for button color */
}

.chatbot-button:hover {
  background-color: #4D82B7;
  /* Darker shade on hover */
}

.chatbot-container.open {
  opacity: 1;
  /* Fade in */
  transform: translateY(0);
  /* Slide up */
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* Smooth transition */
}